#{extends 'main.html' /}

<div id="crudBlank" class="${type.name}">

    <h2 id="crudBlankTitle">&{'crud.blank.title', type.modelName}</h2>

    <div class="objectForm">
	#{form action:@create(), enctype:'multipart/form-data'}
		#{crud.form}


        #{crud.custom 'lesson'}
        <label for="lesson">
            &{'lesson'}
        </label>
        <select id="object_lesson" name="object.lesson@id">
            <option value="">(None)</option>
	        #{list items:models.Lesson.findAll(), as:'lesson'}
            <option value="${lesson.id}" selected="$(object.lesson.id == lesson.id ? 'true' : 'false')">${lesson.name}</option>
	        #{/list}
        </select>

        #{/crud.custom}

        #{/crud.form}
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
            <input type="submit" name="_saveAndAddAnother" value="&{'crud.saveAndAddAnother', type.modelName}" />
        </p>
	#{/form}
    </div>

</div>