#{extends 'main.html' /}
#{set title:'my calendar' /}

<script type="text/javascript">
	
   
    //  events = JSON.parse(events.replace(new RegExp("&quot;", "g"), '"'));


    $(document).ready(function () {
        $('#calendar').fullCalendar({
            events: '@{Account.jsonmycal}',
            firstDay :1,
            defaultView:'agendaWeek',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            eventMouseover:function(e){
                var obj = jQuery.parseJSON($.ajax({ url: "/Event/json?id="+e.id,async: false
                }).responseText);
                var ss = "";
                for(o in obj){
                    if(o == "id" || o == "start" || o == "end" || o == "person"  ){
                        continue;
                    }
                    if(o == "lesson"){
                        ss += "<p>"+obj[o].name+"</p>";
                        continue;
                    }
                    if(o == "klass"){
                        ss += "<p>"+obj[o].name+"</p>";
                        continue;
                    }
                    if(o == "teacher"){
                        ss += "<p>"+obj[o].firstName+" "+obj[o].lastName+ "</p>";
                        continue;
                    }
                    if(o == "promo"){
                        ss += "<p>"+obj[o].name+ "</p>";
                        continue;
                    }
                    if(o == "campus"){
                        ss += "<p>"+obj[o].name+ "</p>";
                        continue;
                    }
                    ss += "<p><b>"+o+"</b> : "+obj[o]+"</p>";
                }
                $("#dialog").html(ss);
            },
            eventMouseout:function(e){
                $("#dialog").empty();
            }


        });
    });

    $("dialog").dialog({ autoOpen: false })

</script>


<h2>My calendar</h2>

<div id="calendar">
</div>

