#{extends 'main.html' /}
#{set title:'my calendar' /}

<script type="text/javascript">
	
   
    //  events = JSON.parse(events.replace(new RegExp("&quot;", "g"), '"'));


    $(document).ready(function () {
        $('#calendar').fullCalendar({
            events: '@{Account.jsonmycal}',
            firstDay :1,
            defaultView:'agendaWeek',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            }


        });
    });
</script>


<h2>My calendar</h2>
<div id="calendar">
</div>

